body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h1 {
	color: #339966;
}

img {
	border-radius: 25px;
	max-width: 100%;
}

.brown {
	color: #7a7a52;
}


#page-wrapper {
	padding: 0 10% 0 10%;
}

#page-wrapper > * {
	padding: 50px;
	margin: 0;
}

#blue {
	background-color: #e5ffff;
}

#doubleyellow{
	display: inline-block;
	background-color: #ffffe5;
}

#doubleyellow > img{
	width: 45%;
	margin: 10px;
}

#green {
	background-color: #b3e5cc;
}

#yellow {
	background-color: #ffffe5;
}

#white {
	background-color: #e5ffff;
}

#white > img {
	width: 30%;
	margin: 10px;
}

#content_holder {
	background-color: #b3e5cc;
	display: inline-block;
}

.content {
	width: 44.5%;
	float: left;
	margin: 2%;
	background-color: #f0f0f0;
	padding: 5px;
}